$flaticon_mycollection-font: "flaticon_mycollection";

@font-face {
    font-family: $flaticon_mycollection-font;
    src: url("./flaticon_mycollection.ttf?aa0c9901a38b25b0bd74155d2c0a056b") format("truetype"),
url("./flaticon_mycollection.woff?aa0c9901a38b25b0bd74155d2c0a056b") format("woff"),
url("./flaticon_mycollection.woff2?aa0c9901a38b25b0bd74155d2c0a056b") format("woff2"),
url("./flaticon_mycollection.eot?aa0c9901a38b25b0bd74155d2c0a056b#iefix") format("embedded-opentype"),
url("./flaticon_mycollection.svg?aa0c9901a38b25b0bd74155d2c0a056b#flaticon_mycollection") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_mycollection !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_mycollection-map: (
    "air-filter": "\f101",
    "filter": "\f102",
    "air-filter-1": "\f103",
    "membrane": "\f104",
    "lifespan": "\f105",
    "oil-filter": "\f106",
);

.flaticon-air-filter:before {
    content: map-get($flaticon_mycollection-map, "air-filter");
}
.flaticon-filter:before {
    content: map-get($flaticon_mycollection-map, "filter");
}
.flaticon-air-filter-1:before {
    content: map-get($flaticon_mycollection-map, "air-filter-1");
}
.flaticon-membrane:before {
    content: map-get($flaticon_mycollection-map, "membrane");
}
.flaticon-lifespan:before {
    content: map-get($flaticon_mycollection-map, "lifespan");
}
.flaticon-oil-filter:before {
    content: map-get($flaticon_mycollection-map, "oil-filter");
}
