@font-face {
    font-family: "flaticon_mycollection";
    src: url("../fonts/flaticon_mycollection.ttf?aa0c9901a38b25b0bd74155d2c0a056b") format("truetype"),
url("../fonts/flaticon_mycollection.woff?aa0c9901a38b25b0bd74155d2c0a056b") format("woff"),
url("../fonts/flaticon_mycollection.woff2?aa0c9901a38b25b0bd74155d2c0a056b") format("woff2"),
url("../fonts/flaticon_mycollection.eot?aa0c9901a38b25b0bd74155d2c0a056b#iefix") format("embedded-opentype"),
url("../fonts/flaticon_mycollection.svg?aa0c9901a38b25b0bd74155d2c0a056b#flaticon_mycollection") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_mycollection !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-air-filter:before {
    content: "\f101";
}
.flaticon-filter:before {
    content: "\f102";
}
.flaticon-air-filter-1:before {
    content: "\f103";
}
.flaticon-membrane:before {
    content: "\f104";
}
.flaticon-lifespan:before {
    content: "\f105";
}
.flaticon-oil-filter:before {
    content: "\f106";
}
